* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.button {
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  margin: 30px 0;
  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
}

.button--big {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  height: 80px;
}

.button:hover {
  background-color: var(--main-button-hover-background-color);
}

.join-btn {
  margin: 0;
}

#rooms-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  grid-gap: 20px;
}

.room {
  border: 1px solid var(--input-border-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.room p {
  font-style: italic;
  font-size: 14px;
}

.room h3 {
  text-align: center;
}

.room h3 {
  font-size: 20px;
}

#users-list {
  list-style-type: none;
}

.user {
  margin-bottom: 20px;
}

.user-title::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.ready-status-red .user-title::before {
  background-color: var(--red);
}

.ready-status-green .user-title::before {
  background-color: var(--green);
}

.game-container {
  display: flex;
}

.game-layout {
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid var(--input-border-color);
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 50px;
  flex: 1;
  max-width: 550px;
}

.progress-wrapper {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid var(--input-border-color);
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--progress-bar);
}

.progress-bar--full {
  background-color: var(--progress-bar-full);
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#countdown {
  font-size: 40px;
  font-weight: 700;
}

#text-container, #text-container * {
  font-family: monospace;
  font-size: 16px;
}

.text__correct {
  background-color: var(--correct-text);
}

.text__left {
  position: relative;
}

.text__left::before {
  content: '';
  height: 19px;
  width: 9px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--next-letter);
}

.text__correct--full {
  background-color: var(--correct-text);
}

.display-hidden {
  visibility: hidden;
}

.display-flex {
  display: flex;
}

#commentator {
  width: 300px;
}

#comment {
  width: 300px;
  height: 250px;
  margin-bottom: 50px;
  padding: 25px;
  text-align: center;
  background: #eee;
  border: 1px solid var(--input-border-color);
  border-radius: 20px;
}

.commentator__img {
  display: block;
  width: 215px;
  height: auto;
  margin: 0 auto;
}

.player {
  font-weight: 600;
  margin: 5px 0;
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-hover-background-color: #e6e6e6;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
  --red: #f00;
  --next-letter: rgba(248, 149, 149, 0.5);
  --green: #37e637;
  --progress-bar: #25da01;
  --correct-text: #66f14a;
  --progress-bar-full: #39ffb3;
}
